<!-- BODY -->
<body>
  <!--NAV BAR -->
  <app-navbar></app-navbar>
  <div style="background: inherit">
    <!-- COVER -->
    <div class="container text-center" >
      <div class="row mt-5">
        <div class="col-md-12">
          <img src="/assets/img/steeme.jpg" class="img-fluid" alt="Steeme Inicio">
        </div>
      </div>
    </div>

    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[0]" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>10 seconds between slides...</h3>
          <p>This carousel uses customized default values.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[1]" alt="Random second slide">
        </div>
        <div class="carousel-caption">
          <h3>No mouse events...</h3>
          <p>This carousel doesn't pause or resume on mouse events</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[2]"  alt="Random third slide">
        </div>
        <div class="carousel-caption">
          <h3>No keyboard...</h3>
          <p>This carousel uses customized default values.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[3]" alt="Random fourth slide">
        </div>
        <div class="carousel-caption">
          <h3>And no wrap after last slide.</h3>
          <p>This carousel uses customized default values.</p>
        </div>
      </ng-template>
    </ngb-carousel>

    <!-- CATEGORIA -->
    <div class="container mt-5">
      <div class="row">
        <div class="text-center mb-4">
          <h2>Categorías</h2>
        </div>
        <div class="col-md-3" 
          *ngFor="let categoria of categorias_lugar">
            <app-card [categoria] = 'categoria'></app-card>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row">
        <div class="text-center mb-4">
          <h2>Herramienta</h2>
        </div>
        <div class="col-md-3" 
          *ngFor="let categoria of categorias_herramienta">
            <app-card [categoria] = 'categoria'></app-card>
        </div>
      </div>
    </div>

    <!-- TIPO MADERA -->
    <div class="container mt-5">
      <div class="row">
        <div class="text-center mb-4">
          <h2>Tipo de Maderas</h2>
        </div>
        <div class="container">
          <div class="row">
            <div class="card-group card-group-scroll">
              <div class="col-md-3" 
              *ngFor="let categoria of categorias_madera">
                <app-card [categoria] = 'categoria'></app-card>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <app-footer></app-footer>

</body>