@media (min-width: 576px) {
    .card-group.card-group-scroll {
        overflow-x: auto;
        flex-wrap: nowrap;
        margin-right: 150px;
    }

    .card-group.card-group-scroll > .card {
        flex-basis: 35%;
    }
}